.geolocation-selection {
    padding: 10px 10px 20px;
}

.radius-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.radius-buttons button.active {
  background-color: #66f;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
  transform: translateY(3px);
}
