.best-match-card {
  border: 2px solid #ccc;
  padding: 10px;
  background: #323;
  width: 200px;
  margin: 30px 10px 10px 10px;
  position: relative;
}

.best-match-card > h2 {
  padding: 10px;
  background-color: #4caf50;
  border-radius: 10px;
  border: 2px solid #ccc;
  translate: -20px -40px;
  position: absolute;

  &::before {
    content: '🐶';
    margin-right: 10px;
  }
}

.best-match-card > .loading-icon,.no-match {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 10px 0;
  height: 400px;

  & p {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .best-match-card {
    width: 100%;
    max-width: 250px;
    margin: 30px 5px 5px 5px;
  }
}
