.header {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  flex-wrap: wrap;
}

.header-logo {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  align-items: center;
}

.header-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.total-items, .total-pages, .total-starred {
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .header-actions {
    justify-content: center;
  }
  
  .total-items, .total-pages, .total-starred {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .header-logo {
    font-size: 20px;
  }
  
  .total-items, .total-pages, .total-starred {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
  }
}
